<!DOCTYPE html>
<html>
<head> 
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/skeleton.css">
</head>
<center>
    <br>
<h1>Welcome to the Stock Predictor App!</h1>
<body>
<form action = "http://localhost:5000/StockApp/historical" method="post">
    Choose a company to see historical prices.
    <br />
    <br />
    <table>
        <tr>
        <td><input type="image" name="ticker.GOOG" src="/static/GOOG.png" alt="GOOG" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.AMZN" src="/static/AMZN.png" alt="AMZN" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.NFLX" src="/static/NFLX.png" alt="NFLX" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.FB" src="/static/FB.png" alt="FB" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.AAPL" src="/static/AAPL.png" alt="AAPL" width="60" height="60" border="2"></td>
        </tr>
        <tr>
        <td><input type="image" name="ticker.TSLA" src="/static/TSLA.png" alt="TSLA" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.HD" src="/static/HD.png" alt="HD" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.DIS" src="/static/DIS.png" alt="DIS" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.KR" src="/static/KR.png" alt="KR" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.ATVI" src="/static/ATVI.png" alt="ATVI" width="60" height="60" border="2"></td>
        </tr>
    </table>
    <br />
</form>
</body>
</center>
</html>