<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/skeleton.css">
</head>
<center>
<h1>Welcome to the Stock Predictor App!</h1>
<body>
<form action = "http://localhost:5000/StockApp/historical" method="post">
    Choose a company to see historical prices.
    <br />
    <br />
    <table>
        <tr>
        <td><input type="image" name="ticker.GOOG" src="/static/GOOG.png" alt="GOOG" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.AMZN" src="/static/AMZN.png" alt="AMZN" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.NFLX" src="/static/NFLX.png" alt="NFLX" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.FB" src="/static/FB.png" alt="FB" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.AAPL" src="/static/AAPL.png" alt="AAPL" width="60" height="60" border="2"></td>
        </tr>
        <tr>
        <td><input type="image" name="ticker.TSLA" src="/static/TSLA.png" alt="TSLA" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.HD" src="/static/HD.png" alt="HD" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.DIS" src="/static/DIS.png" alt="DIS" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.KR" src="/static/KR.png" alt="KR" width="60" height="60" border="2"></td>
        <td><input type="image" name="ticker.ATVI" src="/static/ATVI.png" alt="ATVI" width="60" height="60" border="2"></td>
        </tr>
    </table>
    <br />
</form>

Historical stock data for {{ ticker }}:
<br />
<br />
<div style="width:900px; height:400px;overflow:auto;">
    <table>
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="150">
        <tr>
        <td><b>Date</b></td>
        <td><b>Open</b></td>
        <td><b>High</b></td>
        <td><b>Low</b></td>
        <td><b>Close</b></td>
        <td><b>Volume</b></td>
        </tr>
        {% for row_index in range(data['quotes']|count) %}
        <tr>
          <td>{{ data['quotes'][row_index]['date-time'] }}</td>
          <td>{{ data['quotes'][row_index]['open'] }}</td>
          <td>{{ data['quotes'][row_index]['high'] }}</td>
          <td>{{ data['quotes'][row_index]['low'] }}</td>
          <td>{{ data['quotes'][row_index]['close'] }}</td>
          <td>{{ data['quotes'][row_index]['volume'] }}</td>
        </tr>
        {% endfor %}
    </table>
<div>

</body>
</center>
</html>