<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="UTF-8">
    <title>StockApp</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% endblock %}
    <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        if (data.indexOf('.')>=0) {
            return;
        }
        var nodeCopy = document.getElementById(data).cloneNode(true);
        newId = data + "." + ev.target.id;
        if(document.getElementById(newId) == null) {
          ev.target.appendChild(nodeCopy);
        }
        nodeCopy.id = newId;
    }
    function showRange(id,val) {
        var ind = id.substring(id.indexOf('.')+1);
        console.log(ind);
        switch(val) {
            case("realtime"):
                document.getElementById("start."+ind).setAttribute("hidden",true);
                document.getElementById("end."+ind).setAttribute("hidden",true);
                break;
            case("history"):
            case("high"):
            case("average"):
            case("low"):
                if(document.getElementById("start."+ind).hasAttribute("hidden")){
                    document.getElementById("start."+ind).removeAttribute("hidden");
                    document.getElementById("end."+ind).removeAttribute("hidden");
                }
        }
    }
    var i = 0;
    function addConditional() {
        var original = document.getElementById("query-table." + i);
        var clone = original.cloneNode(true);
        i++;
        clone.id = "query-table." + i;
        clone.getElementsByClassName("drop-box")[0].id = "box." + i;
        clone.getElementsByClassName("param")[0].id = "param." + i;
        clone.getElementsByClassName("start")[0].id = "start." + i;
        clone.getElementsByClassName("end")[0].id = "end." + i;
        original.parentNode.appendChild(clone);
    }
    function remConditional() {
        if (i==0) {
            return;
        }
        var last = document.getElementById("query-table." + i);
        var newlast = document.getElementById("query-table." + (i-1));
        newlast.parentNode.removeChild(last);
        i--;
    }
    function buildURL() {
        StringBuilder sb = new StringBuilder();
        sb.append("/StockApp/<");
        var comps = document.getElementById("box.0").children;
        for (var j=0; j<children.length; j++){
            sb.append(children[j].id);
        }
        sb.append(">/");
    }
    </script>
</head>
<body>
    {% block content %}
    <div class="top-page">
        <div class="title-text">
            <h1>Welcome to the Stock Predictor App!</h1>
            <h3>Construct your query below.</h3>
        </div>

        <div class="image-grid">
            {% for t in company_tickers %}
                <img id="{{t}}" src="/static/{{t}}.png" alt="{{t}}" draggable="true" ondragstart="drag(event)" border="2">
            {% endfor %}
        </div>
        
        <div id="query-table.0" class="query-table">
            <table>
                <tr>
                    <th>Companies:</th>
                    <td colspan="3"><div id="box.0" class="drop-box" ondrop="drop(event)" ondragover="allowDrop(event)"></div></td>
                </tr>
                <tr>
                    <th>Metrics:</th>
                    <td><select id="param.0" class="param" name="param" onchange="showRange(this.id,this.value)">
                    <option value="realtime">Real-Time Price</option>
                    <option value="history">Historical Prices</option>
                    <option value="high">Record High</option>
                    <option value="average">Average</option>
                    <option value="low">Record Low</option>
                    </select></td>
                    <td><input type="date" id="start.0" class="start" name="range-start" hidden
                               value="2018-05-03"
                               min="1999-01-01" max="2019-05-03"></td>
                    <td><input type="date" id="end.0" class="end" name="range-end" hidden
                        value="2019-05-03"
                        min="1999-01-01" max="2019-05-03"></td>
                </tr>
            </table>
        </div>
        <div class="add-conditional-button">
            <button id="addcond" onclick="addConditional()">Add a Conditional</button>
        </div>
        <div class="remove-conditional-button">
            <button id="remcond" onclick="remConditional()">Remove a Conditional</button>
        </div>
        <div class="run-query-button">
            <a href="buildURL()"><button type="submit">Run Query</button></a>
        </div>
        <br />
        Conditionals in the query:
    </div>
    {% endblock %}
</body>
</html>
