<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="UTF-8">
    <title>StockApp</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>



    {% endblock %}
    <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        if (data.indexOf('.')>=0) {
            return;
        }
        var nodeCopy = document.getElementById(data).cloneNode(true);
        newId = data + "." + ev.target.id;
        if(document.getElementById(newId) != null) {
            return;
        }
        ev.target.appendChild(nodeCopy);
        nodeCopy.id = newId;
        var inputField = ev.target.getElementsByClassName("drop_input")[0]
        inputField.value += data + "-"
    }
    function showRange(id,val) {
        var ind = id.substring(id.indexOf('.')+1);
        switch(val) {
            case("realtime"):
                document.getElementById("start."+ind).setAttribute("hidden",true);
                document.getElementById("end."+ind).setAttribute("hidden",true);
                break;
            case("history"):
            case("high"):
            case("average"):
            case("low"):
                if(document.getElementById("start."+ind).hasAttribute("hidden")){
                    document.getElementById("start."+ind).removeAttribute("hidden");
                    document.getElementById("end."+ind).removeAttribute("hidden");
                }
        }
        if (ind == 0 && val=="history") {
            while(i>0) {
                remConditional();
            }
            document.getElementById("addcond").setAttribute("hidden",true);
            document.getElementById("remcond").setAttribute("hidden",true);
        } else {
            if (document.getElementById("addcond").hasAttribute("hidden")){
                document.getElementById("addcond").removeAttribute("hidden");
                document.getElementById("remcond").removeAttribute("hidden");
            }
        }
    }
    var i = 0;
    function addConditional() {
        var original = document.getElementById("query-table." + i);
        if (original.getElementsByClassName("param")[0].value == "history") {
            return;
        }
        var clone = original.cloneNode(true);
        i++;
        clone.id = "query-table." + i;
        
        var dir = clone.getElementsByClassName("dir")[0];
        if (dir.hasAttribute("hidden")) {
            dir.removeAttribute("hidden");
        }
        
        var drop_box = clone.getElementsByClassName("drop_box")[0];
        drop_box.id = "box." + i;
        drop_box.getElementsByClassName("drop_input")[0].name = "box." + i;
        var children = drop_box.children;
        for (var j=0; j<children.length; j++) {
            var child = children[j];
            if (child.name=="logo") {
                drop_box.removeChild(child);
                j--;
            }
        }
        
        var param = clone.getElementsByClassName("param")[0]
        param.id = "param." + i;
        param.name = "param." + i;
        param.getElementsByClassName("hist")[0].setAttribute("hidden",true);
        
        var start = clone.getElementsByClassName("start")[0];
        var end = clone.getElementsByClassName("end")[0];
        start.id = "start." + i;
        end.id = "end." + i;
        start.name = "start." + i;
        end.name = "end." + i;
        
        original.parentNode.appendChild(clone);
        showRange(param.id, param.value);
    }
    function remConditional() {
        if (i==0) {
            return;
        }
        var last = document.getElementById("query-table." + i);
        var newlast = document.getElementById("query-table." + (i-1));
        newlast.parentNode.removeChild(last);
        i--;
    }
    </script>
</head>
<body>
    {% block content %}
    <div class="top-page">
        <div class="title-text">
            <h1>Welcome to the Stock Predictor App!</h1>
            <h3>Construct your query below.</h3>
        </div>

        <div class="image-grid">
            {% for t in company_tickers %}
                <img id="{{t}}" name="logo" src="/static/{{t}}.png" alt="{{t}}" draggable="true" ondragstart="drag(event)" border="2">
            {% endfor %}
        </div>
        <form id="myform" action="/StockApp/fetchStockPrice" method="post">
        <div id="query-table.0" class="query-table">
            <select id="dir.0" class="dir" name="dir.0" width="60" height="60" topmargin="10" hidden>
                <option value="less">&#60;</option>
                <option value="greater">&#62;</option>
            </select>
            <table>
                <tr>
                    <th>Companies:</th>
                    <td colspan="3">
                        <div id="box.0" class="drop_box" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <input name="box.0" class="drop_input" value="" hidden />
                        </div>
                    </td>

                </tr>
                <tr>
                    <th>Metrics:</th>
                    <td><select id="param.0" class="param" name="param.0" onchange="showRange(this.id,this.value)">
                        <option value="realtime">Real-Time Price</option>
                        <option value="history" class="hist">Historical Prices</option>
                        <option value="high">Record High</option>
                        <option value="average">Average</option>
                        <option value="low">Record Low</option>
                    </select></td>
                    <td><input type="date" id="start.0" class="start" name="start.0" 
                               value="2018-05-03" hidden
                               min="1999-01-01" max="2019-05-03"></td>
                    <td><input type="date" id="end.0" class="end" name="end.0"
                        value="2019-05-03" hidden
                        min="1999-01-01" max="2019-05-03"></td>
                </tr>
            </table>
        </div>
        </form>
        <table class="button-table"><tr>
            <td><div class="add-conditional-button">
                <button id="addcond" onclick="addConditional()">Add a Conditional</button>
            </div></td>
            <td><div class="remove-conditional-button">
                <button id="remcond" onclick="remConditional()">Remove a Conditional</button>
            </div></td>
            <td><div class="run-query-button">
                <input form="myform" type="submit" value="Run Query">
            </div></td>
        </tr></table>
    </div>
    {% endblock %}
</body>
</html>
