{% extends 'base.html' %}
{% block content %}
    {{ super() }}

    <h2>Stock data for 
    {% for t in tickers %}
    {{t}}. 
    {% endfor %}
    </h2>
    <div class="stock-table fixed_header">

        <table class="table table-sm table-striped table-fixed">
            <thead class="thead-dark">
                <tr>
                    {% if queryType != "average" and queryType != "high" and  queryType != "low" %}
                    <th scope="col">Date-Time</th>
                    {% endif %}
                    <th scope="col">Company Name</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                    <th scope="col">Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for companies in data %}
                {% for row_index in range(companies['quotes']|count) %}
                <tr>
                    {% if queryType != "average" and queryType != "high" and  queryType != "low" %}
                    <th scope="row">{{ companies['quotes'][row_index]['date-time'] }} </th>
                    {% endif %}
                    <td>{{ company_map[companies['ticker']] }}</td>
                    <td>{{ companies['ticker']}}</td>
                    <td>{{ companies['quotes'][row_index]['open'] }}</td>
                    <td>{{ companies['quotes'][row_index]['high'] }}</td>
                    <td>{{ companies['quotes'][row_index]['low'] }}</td>
                    <td>{{ companies['quotes'][row_index]['close'] }}</td>
                    <td>{{ companies['quotes'][row_index]['volume'] }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}


</body>
